extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Header Name
        h1 Julie Branyan

        //- Job Title
        p Salesforce Developer


        .about-bio

          //- bio information
          p
            |Salesforce developer by day and full stack javascript developer by night.
            br
            br
            |My coding journey began as a humble Salesforce administor when I started learning
            |Apex development in my spare time. I've been in the Salesforce eco-system for 8 years, working on development for two and have completed 7 Salesforce Certifcations. 
            br
            br
            |In my free time, I am coach for a RadWomen program that teaches women to code with apex. This is a program that
            |assisted me on my journey as a developer. I enjoy sharing my love of coding with others. The best part about coding is it allows me to be a life long learner.


      .skills-contact-box.box
        h6 Skills

        //- Skills Section
        ul
          li Salesforce Apex and Lightning Web Components
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Contact Information
        ul
          li 817-808-1157
          li juliebranyan@gmail.com

        //- Button links for social sites
        a.btn-link(href='https://www.linkedin.com/in/juliebranyan/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/jbranyan' target="_blank") GitHub
        a.btn-link(href='https://twitter.com/juliebranyan' target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back